.item-css {
    background-color: #fff;
    color: #1C1A1A;
    font-weight: 700;
    font-size: 24px;
    padding: 30px 70px;
    margin-bottom: 20px;
    list-style-type: none;
}
.item-css:nth-child(even) {
    background-color: #440F51;
    color: white;
}
.item-css:after {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url("./img/open-purple.svg");
    background-size: contain;
    float: right;
}

.item-css:nth-child(even):after {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url("./img/open.svg");
    background-size: contain;
    float: right
}
li:last-child {
   
    margin-bottom: 0;
}
